/**
 * Base css file
 */

@use "cfg";
@use "header";
@use "navigation";
@use "footer";
@use "content";
@use "schema-web-site";
@use "schema-web-page";
@use "schema-blog";
@use "schema-news-article";
@use "schema-profile-page";
@use "schema-breadcrumb-list";

* {
	margin: 0;
	padding: 0;
	outline: none;
}

html,
body {
	font-size: var(--font-base-size);
	font-family: serif;
	background-color: var(--color-background);
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: var(--color-link);
}

a:hover {
	text-decoration: underline;
}

a:visited {
	text-decoration: underline;
	color: var(--color-link);
}

address,
var,
em {
	font-style: normal;
}

ul,
ol,
menu {
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
}

button {
	cursor: pointer;
	user-select: none;
}

img {
	display: block;
}
