/**
 * Configuration (cfg) file
 */

:root {
	/* COLOR SETTINGS */
	--color-background: rgba(255, 255, 255, 1);
	--color-surface: rgba(245, 245, 245, 1);
	--color-error: rgba(128, 0, 0, 1);
	--color-primary: rgba(128, 196, 255, 1);
	--color-secondary: rgba(128, 255, 196, 1);
	--color-link: #00f;

	--color-on-background: #999;
	--color-on-surface: #999;
	--color-on-error: #fff;
	--color-on-primary: #333;
	--color-on-secondary: #000;

	/* GENERAL SETTINGS */
	--base-value: 2;
	--font-base-size: 10px;
	--paragraph-font-size: 1.6rem;
	--paragraph-line-height: 1.5em;
	--paragraph-margin-bottom: 1.5em;
	--regular-gap: calc(pow(var(--base-value), 4) * 1px);
	--dir-icon: "assets/media/icon";

	/* HEADER SETTINGS */
	--header-height: calc((pow(var(--base-value), 6) * 1px));
	--header-bg-color: var(--color-surface);
	--header-workspace-max-width: calc(pow(var(--base-value), 10) * 1px);
	--header-border-width: 0 0 1px 0;
	--header-border-style: solid;
	--header-border-color: var(--color-on-surface);
	--header-border-radius: 0;
	--header-z-index: 4;

	--header-active-bg-color: var(--color-primary);
	--header-active-border-width: 0 0 1px 0;
	--header-active-border-style: dashed;
	--header-active-border-color: var(--color-on-surface);
	--header-active-border-radius: 0;

	/* HEADER BUTTON SETTINGS */

	--header-button-len-x: calc(pow(var(--base-value), 5) * 1px);
	--header-button-len-y: calc(pow(var(--base-value), 5) * 1px);

	--header-button-bg-color: transparent;
	--header-button-border-width: 0;
	--header-button-border-style: none;
	--header-button-border-color: transparent;
	--header-button-border-radius: 0;
	--header-button-bg-image: url("assets/media/icon/solid/bars.svg");
	--header-button-bg-position: center center;
	--header-button-bg-repeat: no-repeat;
	--header-button-bg-size: var(--regular-gap);

	--header-button-active-bg-color: transparent;
	--header-button-active-border-width: 0;
	--header-button-active-border-style: none;
	--header-button-active-border-color: transparent;
	--header-button-active-border-radius: 0;
	--header-button-active-bg-image: url("assets/media/icon/solid/xmark.svg");
	--header-button-active-bg-position: center center;
	--header-button-active-bg-repeat: no-repeat;
	--header-button-active-bg-size: no-repeat;

	/* MAIN MENU */
	--navigation-menu-max-width: calc(pow(var(--base-value), 8) * 1px);
	--navigation-menu-bg-color: var(--color-surface);
	--navigation-menu-border-style: solid;
	--navigation-menu-border-color: var(--color-on-surface);
	--navigation-menu-border-width: 0 1px 0 0;

	/* BODY NAVIGATION SETTINGS */
	--body-nav-z-index: 9;

	/* FOOTER SETTINGS */
	--footer-bg-color: transparent;
	--footer-workspace-max-width: calc(pow(var(--base-value), 10) * 1px);
	--footer-z-index: 2;
	--footer-border-style: solid;
	--footer-border-color: var(--color-on-surface);
	--footer-border-width: 1px 0 0 0;

	/* CONTENT SETTINGS */
	--content-bg-color: transparent;
	--content-z-index: 3;
	--content-min-height: calc(100vh - var(--header-height));
	--content-workspace-max-width: var(--header-workspace-max-width);
}
