/**
 * Footer CSS file
 */

@use "cfg";

#body-footer {
	position: relative;
	background-color: var(--footer-bg-color);
	border-style: var(--footer-border-style);
	border-color: var(--footer-border-color);
	border-width: var(--footer-border-width);
	z-index: var(--footer-z-index);

	& > div {
		position: relative;
		width: 100%;
		max-width: var(--footer-workspace-max-width);
		margin: auto;
		padding: var(--regular-gap);
		box-sizing: border-box;
	}

	&-headline {
		display: block;
		position: absolute;
		left: var(--regular-gap);
		top: var(--regular-gap);
	}
}
