/**
 * Header CSS file
 */

@use "cfg";

#body-header {
	position: sticky;
	top: 0;
	background-color: var(--header-bg-color);
	border-style: var(--header-border-style);
	border-color: var(--header-border-color);
	border-width: var(--header-border-width);
	border-radius: var(--header-border-radius);
	z-index: var(--header-z-index);
	height: var(--header-height);
	transition: background-color 0.5s;
	box-sizing: border-box;

	& > div {
		position: relative;
		width: 100%;
		max-width: var(--header-workspace-max-width);
		height: var(--header-height);
		margin: auto;
		box-sizing: border-box;
	}

	&-toggle-nav-button {
		display: block;
		position: absolute;
		left: var(--regular-gap);
		top: 50%;
		transform: translate(0, -50%) rotate(0deg);
		width: var(--header-button-len-x);
		height: var(--header-button-len-y);
		text-indent: -999em;
		overflow: hidden;
		background-color: var(--header-button-bg-color);
		border-width: var(--header-button-border-width);
		border-style: var(--header-button-border-style);
		border-color: var(--header-button-border-color);
		border-radius: var(--header-button-border-radius);
		box-sizing: border-box;
		background-image: var(--header-button-bg-image);
		background-position: var(--header-button-bg-position);
		background-repeat: var(--header-button-bg-repeat);
		background-size: var(--header-button-bg-size);
		transition: all 0.5s;
	}

	[data-body-navigation] &-toggle-nav-button {
		background-color: var(--header-button-active-bg-color);
		border-width: var(--header-button-active-border-width);
		border-style: var(--header-button-active-border-style);
		border-color: var(--header-button-active-border-color);
		background-image: var(--header-button-active-bg-image);
		transform: translate(0, -50%) rotate(90deg);
	}

	&-headline {
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

[data-scroll="true"] {
	& #body-header {
		background-color: var(--header-active-bg-color);
		border-width: var(--header-active-border-width);
		border-style: var(--header-active-border-style);
		border-color: var(--header-active-border-color);
	}
}
