/**
 * Header CSS file
 */

@use "cfg";

#body-header {
	position: sticky;
	top: 0;
	background-color: var(--header-bg-color);
	border-style: var(--header-border-style);
	border-color: var(--color-on-surface);
	border-width: var(--header-border-width);
	z-index: var(--header-z-index);
	height: var(--header-height);
	transition: background-color 0.5s;
	box-sizing: border-box;

	& > div {
		position: relative;
		width: 100%;
		max-width: var(--header-workspace-max-width);
		height: var(--header-height);
		margin: auto;
		box-sizing: border-box;
	}

	&-toggle-nav-button {
		display: block;
		position: absolute;
		left: var(--regular-gap);
		top: 50%;
		transform: translate(0, -50%);
		width: var(--header-button-len-x);
		height: var(--header-button-len-y);
		text-indent: -999em;
		overflow: hidden;
		background-color: var(--color-on-surface);
		border-width: var(--header-button-border-width);
		border-style: var(--header-button-border-style);
		border-color: var(--header-button-border-color);
		box-sizing: border-box;
	}

	[data-body-navigation] &-toggle-nav-button {
		background-color: var(--header-button-active-bg);
		border-width: var(--header-button-active-border-width);
		border-style: var(--header-button-active-border-style);
		border-color: var(--header-button-active-border-color);
	}

	&-headline {
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

[data-scroll="true"] {
	&[data-body-navigation] {
		& #body-header {
			&-toggle-nav-button {
				background-color: #00f;
			}
		}
	}
	& #body-header {
		background-color: var(--header-active-bg-color);
		&-toggle-nav-button {
			background-color: #f0f;
		}
	}
}
