/**
 * Web Site Schema CSS file
 */

@use "cfg";

ul[itemtype$="/BreadcrumbList"] {
	display: flex;
	flex-direction: row;
	& li {
		white-space: nowrap;
		&:first-child {
			&:before {
				display: none;
			}
		}

		&:before {
			display: inline-block;
			content: "/";
			margin: 0 calc(var(--regular-gap) / 2);
		}
	}
}
